<section class="sec">
  <div class="container">
    <section class="h-full gradient-form">
      <div class="container py-12 px-6 h-full">
        <div
          class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800"
        >
          <div class="xl:w-10/12">
            <div class="block bg-white shadow-lg rounded-lg">
              <div class="lg:flex lg:flex-wrap g-0">
                <div class="lg:w-6/12 px-4 md:px-0">
                  <div class="md:p-12 md:mx-6">
                    <div class="text-center">
                      <img
                        class="mx-auto w-48"
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        alt="logo"
                      />
                      <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">
                        Join Our Team
                      </h4>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                      <p class="mb-4">Please login to your account</p>
                      <div class="mb-4">
                        <input
                          type="email"
                          class="input-app"
                          placeholder="Email"
                          formControlName="email"
                        />
                        <app-validator
                          [inputName]="email"
                          labelName="email"
                        ></app-validator>
                      </div>

                      <div class="mb-4">
                        <input
                          type="password"
                          class="input-app"
                          placeholder="Password"
                          formControlName="password"
                        />
                        <app-validator
                          [inputName]="password"
                          labelName="password"
                          minChar="8"
                        ></app-validator>
                      </div>
                      <div class="text-center pt-1 mb-12 pb-1">
                        <button
                          class="app-btn"
                          type="submit"
                          style="
                            background: linear-gradient(
                              to right,
                              #ee7724,
                              #d8363a,
                              #dd3675,
                              #b44593
                            );
                          "
                          [disabled]="email?.errors || password?.errors"
                        >
                          Log in
                        </button>
                        <a class="text-gray-500" href="#!">Forgot password?</a>
                      </div>
                      <div class="flex items-center justify-between pb-6">
                        <p class="mb-0 mr-2">Don't have an account?</p>
                        <button
                          type="button"
                          class="button-secondary"
                          routerLink="/register"
                        >
                          Sing up
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div
                  class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
                  style="
                    background: linear-gradient(
                      to right,
                      #ee7724,
                      #d8363a,
                      #dd3675,
                      #b44593
                    );
                  "
                >
                  <div class="text-white px-4 py-6 md:p-12 md:mx-6">
                    <h4 class="text-xl font-semibold mb-6">
                      We are more than just a company
                    </h4>
                    <p class="text-sm">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
